<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">

    <a class="navbar-brand" routerLink="/">
      <i class="fa fa-leaf" aria-hidden="true"></i>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping-cart">
            Shopping Cart
            <i class="fa fa-shopping-cart" aria-hidden="true" style="margin-right:5px"></i>
            <span class="badge text-bg-warning badge-pill" *ngIf="cart$ | async as cart">
              {{cart.totalItemsCount}}
            </span>
          </a>

        </li>

        <!-- *ngIf="auth.appUser$ | async as user; else anonymousUser -->
        <!-- mesh 7anesta3mel el async el mrady la2en howa bi5aly el observable yeshta8al kol
          ma ye7sal change w 3shan 3andena nested observables fa haye7sal infinite loop
          wel mawke3 7ayecrash -->
      </ul>

      <ul class="navbar-nav">

        <ng-template #anonymousUser>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
        </ng-template>

        <!-- *ngIf="auth.appUser$ | async as user; else anonymousUser -->
        <!-- mesh 7anesta3mel el async el mrady la2en howa bi5aly el observable yeshta8al kol
          ma ye7sal change w 3shan 3andena nested observables fa haye7sal infinite loop
          wel mawke3 7ayecrash -->

        <li ngbDropdown *ngIf="appUser; else anonymousUser" class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            {{appUser.name}} <!--bageeb el name mn el database object delwa2ty-->
          </a>
          <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/my/orders">My Orders</a></li>

            <ng-container *ngIf="appUser.isAdmin">
              <li><a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a></li>
              <li><a class="dropdown-item" routerLink="/admin/products">Manage Products</a></li>
            </ng-container>

            <li><a class="dropdown-item" (click)="logout()">Log Out</a></li>
          </ul>
        </li>
      </ul>

    </div>

  </div>
</nav>
